{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": [
                    "ie >= 8"
                ]
            },
            "useBuiltIns": true
        }],
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        "syntax-dynamic-import"
    ]
}